* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    animation: fadeIn 0.8s ease-out;
}



.contenedor-principal {
    background: whitesmoke;
    width: 380px;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0px 12px 35px rgb(197, 208, 240);
    transform: scale(0.97);
    animation: popUp 0.5s ease forwards;
}


.contenedor-principal h1 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
}

.contenedor-principal h2 {
    text-align: center;
    margin-bottom: 8px;
    font-weight: bold;
}

.contenedor-principal p{
    text-align: center;
    font-size: 17px;
    color: #777;
    margin-bottom: 15px;
}

.contenedor-principal p strong{
    color: royalblue;
}

.banner{
    background: linear-gradient(45deg, #16a34a, #22c55e);
    color: #fff;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
    animation: blink 1.3s ease-in-out infinite alternate;
}


label {
    font-size: 14px;
    font-weight: 600;
    margin-top: 12px;
    display: block;
}


input[type="text"], input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 2px solid transparent;
    border-radius: 10px;
    background: #dfdfdf;
    margin-top: 5px;
    transition: 0.3s;
}

input:focus {
    border-color: royalblue;
    box-shadow: 0 0 10px rgba(193, 191, 230, 0.3);
    outline: none;
}

.contenedor-check label {
    display: block;
    font-size: 14px;
    margin: 6px 0;
    cursor: pointer;
    transition: 0.2s;
}

.contenedor-check label:hover {
    color: royalblue;
}

a{
    color: royalblue;
    text-decoration: none;
}

.boton-sub{
    width: 100%;
    padding: 15px;
    background: royalblue;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    letter-spacing: .5px;
    transition: .3s;
    transform: scale(1);
    margin-top: 20px;
}

button:hover {
    background: royalblue;
    transform: scale(1.04);
}


